<div class="container" fxFlex fxLayout="column" fxLayoutAlign="center">
  <div id="location">
    <h2>Conceitos Importantes</h2>
  </div>
  <div class="text-container">
    <p>Para compreender as tendências e características dos grupos e elementos da tabela é necessário aprender alguns
      conceitos:</p>
  </div>
  <div class="middle-conteiner">
    <mat-accordion>
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            O Átomo
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          O Átomo é a unidade básica da matéria formada por um núcleo e nuvem eletrônica.
        </p>
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            O Próton
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          O próton é uma partícula com carga positiva que compõe o núcleo do átomo, junto com o nêutron.
        </p>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            O Nêutron
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          O nêutron é uma partícula sem carga encontrada que compõe o núcleo do átomo, junto com o próton.
        </p>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            O Elétron
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          O elétron é uma partícula-onda com carga negativa encontrada na nuvem eletrônica do átomo.
        </p>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Nuvem eletrônica
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Região externa ao núcleo do átomo, formada por orbitais atômicos e geralmente dividida em 7 níveis de
          energia.
        </p>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Orbitais atômicos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Também chamados de subníveis, são regiões externas ao núcleo do átomo que possuem maior probabilidade de se
          encontrar
          um elétron.</p>
        <p>Existem quatro tipos de orbitais conhecidos, com formatos diferentes. São denominados: s, p, d, e f.</p>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Nível de energia
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Estado energético quantizado em que se encontra uma partícula. No átomo, quanto maior for o nível energético
          de um elétron,
          mais externo ele estará na nuvem eletrônica.
        </p>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 7" (opened)="setStep(7)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Grupos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Conjunto de elementos que possuem características semelhantes, como o mesmo número de elétrons no nível
          energético mais externo.
        </p>
      <!--   <a mat-button [routerLink]="['/grupo']">Mais informações sobre Grupo</a> -->
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 8" (opened)="setStep(8)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Blocos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Conjunto de grupos onde os elementos possuem o mesmo orbital no nível energético mais externo.
        </p>
  <!--       <a mat-button [routerLink]="['/bloco']">Mais informações sobre Blocos</a> -->
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 9" (opened)="setStep(9)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Número atômico
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          É a quantidade de prótons, partículas positivas, existentes no núcleo do átomo.
        </p>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 10" (opened)="setStep(10)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Massa atômica
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          É a soma da quantidade de prótons e nêutrons existente no núcleo do átomo.
        </p>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 11" (opened)="setStep(11)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Carga nuclear efetiva (CNE)
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          É uma força de atração que o núcleo de um átomo exerce sobre seus elétrons. Há uma tendência do aumento da
          carga nuclear
          efetiva à medida que se aproxima do canto superior esquerdo da tabela.
        </p>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 12" (opened)="setStep(12)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Raio atômico
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          É a distância entre o núcleo do átomo e seus elétrons mais externos.
        </p>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 13" (opened)="setStep(13)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Energia de ionização
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Energia mínima necessária que deve ser fornecida a um átomo isolado no estado gasoso para que seja retirado
          um de seus elétrons.
        </p>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 14" (opened)="setStep(14)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Afinidade Eletrônica
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Energia que um átomo em estado gasoso libera ao adicionar um elétron na sua nuvem eletrônica.
        </p>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 15" (opened)="setStep(15)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Configuração eletrônica
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Descreve a estrutura da nuvem eletrônica do átomo. Na nuvem eletrônica se encontra os níveis de energia e
          dentro destes os
          orbitais ou subíniveis que comportam os elétrons.
        </p>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="button-row">
    <button matTooltip="Botão Ir à Tabela" matTooltipPosition="after" mat-raised-button [routerLink]="['/elemento']"
      color="primary">Ir à Tabela</button>
  </div>
</div>
