<div class="container" >
    <div class="location">
        <h2>Você está em: <a [routerLink]="['/home']">O Projeto/</a>A Tabela</h2>
    </div>
    <div class="card-elemento example-card" aria-live="assertive" aria-atomic='true'>
        <mat-list  id="lista" role="list">
            <section *ngIf="code; else elseBlock">
                    <mat-list-item *ngFor="let atomic of elementos" role="listitem">
                        <p matLine>
                            <span> {{ atomic }} </span>
                        </p>
                    </mat-list-item>
            </section>
            <ng-template #elseBlock>
                    <mat-list-item *ngFor="let elemento of header" role="listitem">
                        <p matLine>
                            <span> {{elemento }} </span>
                        </p>
                    </mat-list-item>
            </ng-template>
        </mat-list>
    </div>
</div>
