<div class="middle-item" fxLayout fxLayout.xs="column">
    <div class="text-area" fxFlex>
        <div class="text-container" id="demo">
            <h2>O Projeto</h2>
            <p>O projeto é uma iniciativa do Programa Institucional de Bolsas de Iniciação Científica e Tecnológica
                PIBIC-FAPESB e Instituto Federal da Bahia - campus Porto Seguro, que junto com professores e discentes
                do curso
                de Licenciatura em Computação, vem contribuíndo com ações que visam a inclusão no ambiente escolar.
                <p> Seguimos recomendações e padrões da
                    <a href="https://www.w3.org/" target="_blank">World Wide Web Consortium (W3C)</a> e <a href="https://www.governodigital.gov.br"
                        target="_blank">Modelo de Acessibilidade em Governo
                        Eletrônico (e-MAG)</a> para construção do site.
                    <p>O projeto contou com a participação e contribuição efetiva de discentes e docentes do curso de
                        Licenciatura em Química, para elaboração e levantamento dos conteúdos pertinentes à tabela
                        periódica. Graças a esta
                        colaboração interdisciplinar foi possível conceber este site.
                    </p>
        </div>
    </div>
</div>
