.footer{
	color: #fff;
    bottom:0;
    width:100%;
	background-color:#212121;
	.area-footer{
	color: #fff;
	height: 10vh;
	background-color:#212121;
	}

	.footer-area-button{
		height: 10vh;
		background-color:#212121;
		align-items: center;
		justify-content: center;
	}
}

